---
# Source: unitycatalog/templates/server/configmap.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: "unity-catalog-unitycatalog-server-config-templates"
  labels:
    helm.sh/chart: unitycatalog-0.0.1-pre.1
    app.kubernetes.io/version: "main"
    app.kubernetes.io/managed-by: "Helm"
    app.kubernetes.io/name: "unitycatalog"
    app.kubernetes.io/component: "server"
    app.kubernetes.io/instance: "unity-catalog"
data:
  server.log4j2.properties.template: |-
    status=warn
    appenders=console
    
    appender.console.type=Console
    appender.console.name=Console
    appender.console.layout.type=PatternLayout
    appender.console.layout.pattern=%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
    
    rootLogger.level=info
    rootLogger.appenderRefs=console
    rootLogger.appenderRef.console.ref=Console
  server.properties.template: |-
    server.env=prod
    
    storage-root.models=file:/tmp/ucroot
  hibernate.properties.template: |-
    hibernate.connection.driver_class=org.h2.Driver
    hibernate.connection.url=jdbc:h2:file:./etc/db/h2db;DB_CLOSE_DELAY=-1
    
    hibernate.hbm2ddl.auto=update
    hibernate.show_sql=false
    hibernate.archive.autodetection=class
    hibernate.use_sql_comments=true
    org.hibernate.SQL=INFO
    org.hibernate.type.descriptor.sql.BasicBinder=TRACE
---
# Source: unitycatalog/templates/server/service.yaml
apiVersion: v1
kind: Service
metadata:
  name: "unity-catalog-unitycatalog-server"
  labels:
    helm.sh/chart: unitycatalog-0.0.1-pre.1
    app.kubernetes.io/version: "main"
    app.kubernetes.io/managed-by: "Helm"
    app.kubernetes.io/name: "unitycatalog"
    app.kubernetes.io/component: "server"
    app.kubernetes.io/instance: "unity-catalog"
spec:
  type: "ClusterIP"
  ports:
    - port: 8080
      targetPort: api
      protocol: TCP
      name: api
  selector:
    app.kubernetes.io/name: "unitycatalog"
    app.kubernetes.io/component: "server"
    app.kubernetes.io/instance: "unity-catalog"
---
# Source: unitycatalog/templates/ui/service.yaml
apiVersion: v1
kind: Service
metadata:
  name: unity-catalog-unitycatalog-ui
  labels:
    helm.sh/chart: unitycatalog-0.0.1-pre.1
    app.kubernetes.io/version: "main"
    app.kubernetes.io/managed-by: "Helm"
    app.kubernetes.io/name: "unitycatalog"
    app.kubernetes.io/component: "ui"
    app.kubernetes.io/instance: "unity-catalog"
spec:
  type: ClusterIP
  ports:
    - port: 3000
      targetPort: ui
      protocol: TCP
      name: ui
  selector:
    app.kubernetes.io/name: "unitycatalog"
    app.kubernetes.io/component: "ui"
    app.kubernetes.io/instance: "unity-catalog"
---
# Source: unitycatalog/templates/server/deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "unity-catalog-unitycatalog-server"
  labels:
    helm.sh/chart: unitycatalog-0.0.1-pre.1
    app.kubernetes.io/version: "main"
    app.kubernetes.io/managed-by: "Helm"
    app.kubernetes.io/name: "unitycatalog"
    app.kubernetes.io/component: "server"
    app.kubernetes.io/instance: "unity-catalog"
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: "unitycatalog"
      app.kubernetes.io/component: "server"
      app.kubernetes.io/instance: "unity-catalog"
  template:
    metadata:
      annotations:
        checksum/serverConfig: "2fd426bf1118d18fba03969d89d96bb8e52f6515349fc090fdd65cb934ae0bee"
        checksum/hibernateConfig: "082a79515c789cde9a8fa18eba0095850e15e39c767594f343a1948ec2f8c258"
        checksum/log4j2Config: "cfdb47e6f174bf079c2cd6a0597aca6ac8ddd338ad8988d191f046c6e4bd23b2"
      labels:
        helm.sh/chart: unitycatalog-0.0.1-pre.1
        app.kubernetes.io/version: "main"
        app.kubernetes.io/managed-by: "Helm"
        app.kubernetes.io/name: "unitycatalog"
        app.kubernetes.io/component: "server"
        app.kubernetes.io/instance: "unity-catalog"
    spec:
      serviceAccountName: "default"
      securityContext:
        fsGroup: 101
      initContainers:
        - name: init
          image: "alpine:latest"
          imagePullPolicy: "IfNotPresent"
          command:
            - /bin/sh
            - -c
            - |-
              apk add --no-cache envsubst openssl curl
              envsubst < /home/unitycatalog/etc/confTemplates/server.properties.template > /home/unitycatalog/etc/conf/server.properties
              envsubst < /home/unitycatalog/etc/confTemplates/server.log4j2.properties.template > /home/unitycatalog/etc/conf/server.log4j2.properties
              envsubst < /home/unitycatalog/etc/confTemplates/hibernate.properties.template > /home/unitycatalog/etc/conf/hibernate.properties

              echo "Generating DER format keys (private_key.der and public_key.der) if they do not exist..."
              if [ -f /home/unitycatalog/etc/conf/private_key.der ] && [ -f /home/unitycatalog/etc/conf/public_key.der ]; then
                echo "DER format keys already exist, skipping generation."
              elif [ -f /home/unitycatalog/etc/confJwtKey/private_key.der ]; then
                echo "Using /home/unitycatalog/etc/confJwtKey/private_key.der..."
                cp /home/unitycatalog/etc/confJwtKey/private_key.der /home/unitycatalog/etc/conf/private_key.der
                openssl rsa -pubout -inform DER -outform DER \
                    -in /home/unitycatalog/etc/confJwtKey/private_key.der \
                    -out /home/unitycatalog/etc/conf/public_key.der
              elif [ -f /home/unitycatalog/etc/confJwtKey/private_key.pem ]; then
                echo "Using /home/unitycatalog/etc/confJwtKey/private_key.pem..."
                openssl pkcs8 -topk8 -inform PEM -outform DER -nocrypt \
                    -in /home/unitycatalog/etc/confJwtKey/private_key.pem \
                    -out /home/unitycatalog/etc/conf/private_key.der
                openssl rsa -pubout -inform PEM -outform DER \
                    -in /home/unitycatalog/etc/confJwtKey/private_key.pem \
                    -out /home/unitycatalog/etc/conf/public_key.der
              else
                echo "ERROR: No private_key.der or private_key.pem found in /home/unitycatalog/etc/conf or /home/unitycatalog/etc/confJwtKey"
                exit 1
              fi

              echo "Looking up key_id.txt..."
              if [ -f /home/unitycatalog/etc/conf/key_id.txt ]; then
                echo "Key ID file already exists, skipping..."
              elif [ -f /home/unitycatalog/etc/confJwtKey/key_id.txt ]; then
                echo "Using /home/unitycatalog/etc/confJwtKey/key_id.txt..."
                cp /home/unitycatalog/etc/confJwtKey/key_id.txt /home/unitycatalog/etc/conf/key_id.txt
              else
                echo "ERROR: No key_id.txt found in /home/unitycatalog/etc/confJwtKey"
                exit 1
              fi

              # Set permissions for the mounted volumes uid:gid 100:101 - unitycatalog:unitycatalog
              chown -R 100:101 /home/unitycatalog/etc/conf
          volumeMounts:
            - name: config-templates
              mountPath: /home/unitycatalog/etc/confTemplates
            - name: config-volume
              mountPath: /home/unitycatalog/etc/conf
            - name: jwt-key-volume
              mountPath: /home/unitycatalog/etc/confJwtKey
          env:
      containers:
        - name: server
          image: "unitycatalog/unitycatalog:main"
          imagePullPolicy: "IfNotPresent"
          ports:
            - name: api
              containerPort: 8080
              protocol: TCP
          startupProbe:
            tcpSocket:
              port: api
            timeoutSeconds: 10
            periodSeconds: 10
            failureThreshold: 30 # 5 minutes

          volumeMounts:
            - name: config-volume
              mountPath: /home/unitycatalog/etc/conf
            - name: db-volume
              mountPath: /home/unitycatalog/etc/db
      volumes:
        - configMap:
            name: "unity-catalog-unitycatalog-server-config-templates"
          name: config-templates
        - name: config-volume
          emptyDir: {}
        - name: jwt-key-volume
          secret:
            secretName: "unity-catalog-unitycatalog-server-jwt-key"
        - name: db-volume
          persistentVolumeClaim:
            claimName: "unity-catalog-unitycatalog-server-db"
  strategy:
    type: Recreate
---
# Source: unitycatalog/templates/ui/deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "unity-catalog-unitycatalog-ui"
  labels:
    helm.sh/chart: unitycatalog-0.0.1-pre.1
    app.kubernetes.io/version: "main"
    app.kubernetes.io/managed-by: "Helm"
    app.kubernetes.io/name: "unitycatalog"
    app.kubernetes.io/component: "ui"
    app.kubernetes.io/instance: "unity-catalog"
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: "unitycatalog"
      app.kubernetes.io/component: "ui"
      app.kubernetes.io/instance: "unity-catalog"
  template:
    metadata:
      labels:
        helm.sh/chart: unitycatalog-0.0.1-pre.1
        app.kubernetes.io/version: "main"
        app.kubernetes.io/managed-by: "Helm"
        app.kubernetes.io/name: "unitycatalog"
        app.kubernetes.io/component: "ui"
        app.kubernetes.io/instance: "unity-catalog"
    spec:
      serviceAccountName: "default"
      initContainers:
        - name: wait-for-server
          image: "busybox:latest"
          imagePullPolicy: "IfNotPresent"
          command:
            - /bin/sh
            - -c
            - |-
              until nc -z unity-catalog-unitycatalog-server 8080
              do
                echo "Waiting for server (unity-catalog-unitycatalog-server:8080) to be ready..."
                sleep 2
              done
      containers:
        - name: ui
          image: "unitycatalog/unitycatalog-ui:main"
          imagePullPolicy: "IfNotPresent"
          ports:
            - name: ui
              containerPort: 3000
              protocol: TCP
          startupProbe:
            tcpSocket:
              port: ui
            timeoutSeconds: 10
            periodSeconds: 10
            failureThreshold: 30 # 5 minutes

          command:
            - /bin/bash
            - -c
            - |-
              jq '.proxy = null' package.json > temp.json
              mv temp.json package.json
              yarn start
          env:
---
# Source: unitycatalog/templates/ingress.yaml
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: "unity-catalog-unitycatalog"
  labels:
    helm.sh/chart: unitycatalog-0.0.1-pre.1
    app.kubernetes.io/version: "main"
    app.kubernetes.io/managed-by: "Helm"
spec:
  rules:
    - host: 
      http:
        paths:
          - path: "/api"
            pathType: "Prefix"
            backend:
              service:
                name: "unity-catalog-unitycatalog-server"
                port:
                  name: api
          - path: "/"
            pathType: "Prefix"
            backend:
              service:
                name: "unity-catalog-unitycatalog-ui"
                port:
                  name: ui
---
# Source: unitycatalog/templates/server/keypair-secret.yaml
apiVersion: v1
kind: Secret
metadata:
  name: "unity-catalog-unitycatalog-server-jwt-key"
  labels:
    helm.sh/chart: unitycatalog-0.0.1-pre.1
    app.kubernetes.io/version: "main"
    app.kubernetes.io/managed-by: "Helm"
    app.kubernetes.io/name: "unitycatalog"
    app.kubernetes.io/component: "server"
    app.kubernetes.io/instance: "unity-catalog"
  annotations:
    helm.sh/hook: pre-install
    helm.sh/resource-policy: keep
type: Opaque
data:
  
  
  private_key.pem: "LS0tLS1CRUdJTiBSU0EgUFJJVkFURSBLRVktLS0tLQpNSUlKS1FJQkFBS0NBZ0VBdXlnM0pVTUtVNHlXdWhvWXBvNVlCVlQ5MFlqRFEveEQrdytHMTAzY3RTV2VpVVVDCjJSSGVieGtWK2xEYVUwSGVaVUFTQW1OM2o5UEZlMGsxcFZWK3dKQjFyRDdmQmR1eU10OVJiT0Z6eVFoQVlPSkMKT3ZWTC95NmN0NGRhWTYzdTRzT2FqU1RJTWdVRmI4dVBJMnEzUTBPaGpQTCtJelM1aXVaYnJhS0orQzhLNjJPRgpnbWRhQUFPRmowUjQrenZ6ZTlrVUJRZ0FzenllM2dEK1o0UG1iVHppYTVBZlR0QTVjQVhITFdVcUU1d2dTdHNrCkZod2RtOFZkenBlVUhPMU1pSk53VHViSmlvUldPUmU1UUtzbHEwNXFrVXJzbEFyNVU4TExvdHYwQWNKai96OGMKM09WZEljeC96V2RqWDhlR3k4dll3UDhGbUhJL2F6citCMUp4RHFUSFFYWmpBbUNuK0hEdFh6SjVQKzVIMXIrQwpTZEYvbDhZUW4xM3ZJa3Bkd1U5OUxxL2kwbmp0TS9qejNGcEdLZUw1cFhOSzVWZFpUNisxM05MRUFYdUpOWHoyCktMdXpEUXhsSENuWWtxMmJKRFV2SHRxMElwaGI0NDJLbEZ3bW4rWHJQRFZhNHRpRTYzOXdhK0RzWExHT2Z5Zy8KNHV4eFVqZHRTa0VEaXFIYzVPSVhDSUI3WjJQeDlnazlhZFI5MmdmUlU4cE4xL3lHN1B5SEMxVnhSb3dtSU1CVgovUTdBZThxQmw0OW9JN00zRThpT1J1Y1BJOHdOeUwxREt4NlJTU3dVWm9yblV3MytGWkRvMmgxcWJzT3cveDhKCjJrQ1dNekRNaHpRdE1ZY2FsRG1jQUJXQVhRRUZJZDI2RmlOaTNieTluZEcweko1SklUdjVlaGpNOTRVQ0F3RUEKQVFLQ0FnQUh4M0FqV0ZvQmh3SnMwZERjZTJZbE1wY3FNbWtMVmx6cy9vUTRSc0E1dDBxVG9nNndQeEhqeEVNcAptRnE2d3k0ZlB6NkFZdW9CVEdnVTY4SVRFUzZuaWxtWnd6TTU1eHZOQ1lNMDUxb01yUThmOThlUTg4a28zaU1kCmJiN1FEZGEwRGpWS1VKRVJveXZLcmNkUlRZbzRmWU1sZktRYmlvRjd5SDlmQkRaLzNsU3gyLzBjb25jWE1RNUkKR2l4OUpNekdCUXZUK2JVdHZnTk1idllrRDFOd2p1dEtWVDgzNDJlL3hEMjNJVkZTWjFiZ1JhT0dWN3pUVUt6SgpmWHRtaUdaNTlzYmdRSzkzMW5CUEJ6Rm9BclVhSGJSSVBiai9ua1VtdWg0RXN1ZTlldnIxRFFhQ0YvWjdCU2o2CnZLVmd3Y1pVaWpDRU5SVmlkTDAyRThtalBFWCtwNEF3UmNBYzhBQkNkNmdHWkFINWdJa0pIdWZKb2VhUlk0Q1YKR3hMN0NQR2FSQmVqMkZhc2lmaFhYUEtuNnNDUm1oYkJBc3lTakZoUVdQY3k5Mm0vK3M1RTBoUGNjeVNTdVdWeQpaZHhZZGtaNTJKcXJyWDVpbklIVEtvRkxxRWZXRE9La3hRNmZROGNpOGRpSkVpNUNlMENzNWQzOGExYW5KSWlMClEvYnJpTzFhNnpTM0RpOHJQSS92WkpUQUliTkVkaXpLaTgxSWhZNTIwN0loMG1YeWt3TXBkdXpqekg3T2ZTQmUKQWtlNUFhcFpwcDNINVFkUDdDOUMzMWw5SGVBOFpHN3c2TXA1Z0pSY29TYnNYZElhREUxMlNIRzZvSHJ1bjVkbQp6ZUhwcVcxMmxObUV6NkQwbWQ0WXRycFZFSHplY254QisvVzNheTdNUG0va01yVzhBUUtDQVFFQTlqZmxVOVpGCjN2c3c0aURpT094UWVZeXhHY2syL2gyUEViY3JVNnpTbzhQTVRkYmRScExFcGdSazFnc1JrN3Z5ajdpY2s5dmgKRkMwc3FyVXZPTjhaTk9KbWhWeEdTTTdsUTVQTjFmRHpxSXBEZUpKU0xxOFMzRUE5cUE3MldLaEo3aWRiYU16Ngp0eVFSTC9uN3pOKzR5UkJPNHlOUTV4QUY3WEY1dEIzc24vYWRLVS9HcjZ0Wk51clRHY0g0KzdJUmprSk1jS29DCkNaRGtRNTdhdXZ3TytLcG53SDc0MnlTdS9WR0FXaithZmRENGV1MFh5Y1luMTJvbUNOOXlhd2RRTFVQdDRUNXoKaXZ3T2huQW5sMmZ2MVgyRVBGb0ROcU1UdHlLZTF4OE4yeXhRQytvYUVEQ0VHOEdLMkhTanVPK0NabFpuaFMwbQpDR3VDTEtNRDdvYXV4UUtDQVFFQXdwZW13cWVNd1JldklZeGp5UVhXeVJMMHlKa1I2a3VMdElwRDlIS2JONlZQCkVVSlVhN1VYNmNIMjNNeUVXTG5zcE10MC9idjBBdjlXWm1od0ZNQ0FHRFBRRC9qQkZmR0RVc05xbGk4MEEwbEIKRHVQU1M1ZEltandCOXh1T0U3U2Y5TEZOZDZkd1hPeHdOWks3d2ltR0VZd1ZWMEt5K2pDU1NVTGh5M2hGcmx5MQpiK0o4ai9JaFgzcU1KTmxhYi9pd3FBNEZhakpITlpnRXdwYzVrMVpNNmNmOU9HSFpsN3ZaTm8xbVJ3b25WdXArCmRHY09oWDBsdXRNVy9tbFJBZnFJNkxLbHpFMVBQNHNmdFk1Ym5kWW1YU1NUaEZTVVN6Wi9HTnpPcmkramk2OGMKZldGTHlWLzllRjdLRVdQcWNjbUt3NHFCRmd6SXRaeEQrTVVjRTRteHdRS0NBUUVBeFhidXBONGtDMERKWTVHYgozS3NwbjFJR2R2ZTQ4dlFoMmNOZExDNWVnSmgzTWJZd29IajAzWENJcm1FU0o3bUVQMTkvczlXVUhlcGMrRXQzCkk5VkpFZkRBNkJPcENwdGpvMTdXcGM0b20vTEhTZHVQcllFYlR5ajJTZUkyRDhSb0JtZnFGNUxOUURQYzFPMVgKMUdkWWUyaG8zQ0Ztc09sWTE2VTZSZ241ekJDczJvVHdnOUtZS2tNS0tvNDJjU1hPanBqOVZSNERwRWhmeVJ1TgpzSWlXT1RmeEhhQzNWSW1IRGdKZlBnSGtsU01USlFNaElPR2E4bGhmU0o1cjFRcDRjdFVYNHAyRGJPUFpnbGhRCmFFMGpPOFQrV0tpWUN5bWVsakZkMG9sRlE1RzJZTmZQTDB5NXBza0I0YmNwMXhlL0xQUCs4Zi9Ua00wb0NVUnoKMHNpUlFRS0NBUUFoWFdsTmRQY1FZS1E1cDEyd3FSeWp5MmxIUDkrdmdaYUp0UzlqcVlidHFwMTlBeGVBaEVOKwpaRENVdVVoMEFpVU9PSWh0dlIxZ3FqRkJTK1R6MmZIY3RIMlhUM3FqN1k0cjBhL2o0bUlUc2lyQ2g5T1YvSEdKCmFJS1p3UkxDVkRVYytvMmkxNFhQbVFiQVdORnl3RFhwcWxBNmJ3aExGNnJ0ZnRkQ1VQUDVxcEc5aG1ML04yLzcKZEFLMWlzTVQ4ZHN3Wlg4T0wyTEFVTGw0Ti8rNlFKRGRnTm50SWZIeUwxWldJVGFKTmJkN0VxZnVBNEdjNTlGaApVREpnR3VTMTV5UTBhZlU5cTMvTUVHbTJjcHRJMitBbUZsQm8zeXV5SGJ6N0lWa2F5clpMREJKaGVSNUtmL2Z3Ci9LZS9CWmU4UE9kYkVkT0NXVnpNcnVlRXJ4OWFSa0RCQW9JQkFRQ1VkU2FCOG9Vc09lUmVkRkpoSDlEd0ZaOHQKNFhQbnZzKzhFVDU1RFRGNXZ1dnl0cHhGTFROUVFxOEU2UVJsemg4NStPVnVPZUNQbGRvaVlsVGNqdEU4T085QgpkeERHa0Q3UkhnMjF3M0dtMVFRN01Lajc3QnNtYmdSN0lSS0JIYVNZeTE5dHFoT0sxNU9ub2lIamkzcW96ZmMwCjh6cGVqeUxUamkwZzh3TUV1bEF0RkFWblhWa3dacjZYZzl2V3QxNlhydXdIRTYxeERJN1pRUloyYmRvZkFoYTgKVG00MWV2RksreFNOb1VVNDE3ZzNub0dIM3ZkTFIrNVZpeWhMWjFqYlZqVFNlNVMyYXJqQjNuYXRocXRTVVVUYgpPR2NnZmJodVFuV1FxdTFyNWwzVzQxcmk5bUlTd0JMVmV0OTJTaHRqWFc2dDBhWk0zeHJrcCtEVno0SWoKLS0tLS1FTkQgUlNBIFBSSVZBVEUgS0VZLS0tLS0K"
  key_id.txt: "NjA5NGJmMTVjMjE5ZTFhZDg2ZGE0NzRiZGZiM2FkYWQzNjMxZGRmZTUwYjY4NDUxMDM4Nzg1YmQwYjY5YmY1Mg=="
---
# Source: unitycatalog/templates/server/db-pvc.yaml
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "unity-catalog-unitycatalog-server-db"
  labels:
    helm.sh/chart: unitycatalog-0.0.1-pre.1
    app.kubernetes.io/version: "main"
    app.kubernetes.io/managed-by: "Helm"
    app.kubernetes.io/name: "unitycatalog"
    app.kubernetes.io/component: "server"
    app.kubernetes.io/instance: "unity-catalog"
  annotations:
    helm.sh/hook: pre-install
    helm.sh/resource-policy: "keep"
spec:
  accessModes: 
    - ReadWriteOnce
  resources:
    requests:
      storage: "1Gi"
