apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-code-server
  labels:
    app: code-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: code-server
  template:
    metadata:
      labels:
        app: code-server
    spec:
      containers:
        - name: code-server
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          ports:
            - containerPort: 8080
          env:
            - name: PASSWORD
              value: "{{ .Values.password }}"
