apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-code-server
  labels:
    app: code-server
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app: code-server
