apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-zeppelin-config
  labels:
    app: zeppelin
data:
  interpreter.json: |
    {
      "interpreterSettings": {
        "spark": {
          "id": "spark",
          "name": "spark",
          "group": "spark",
          "properties": {
            "spark.master": "k8s://https://kubernetes.default.svc",
            "spark.app.name": "Zeppelin-Spark",
            "spark.kubernetes.container.image": "{{ .Values.global.spark.image }}",
            "spark.kubernetes.container.image.pullPolicy": "{{ .Values.global.spark.imagePullPolicy }}",
            "spark.driver.host": "{{ .Release.Name }}-zeppelin",
            "spark.driver.port": "22321",
            "spark.properties.file": "/opt/spark/conf/spark-defaults.conf"
            {{- range $key, $val := .Values.global.spark.env }}
            , "spark.driver.env.{{ $key }}": "{{ $val }}"
            , "spark.executor.env.{{ $key }}": "{{ $val }}"
            , "spark.kubernetes.driver.env.{{ $key }}": "{{ $val }}"
            , "spark.kubernetes.executor.env.{{ $key }}": "{{ $val }}"
            {{- end }} 
          }
        }
      }
    }
