apiVersion: v1
kind: Pod
metadata:
  name: spark-driver
  labels:
    app: spark-driver
spec:
  containers:
  - name: zeppelin
    env:
    - name: AWS_ACCESS_KEY_ID
      value: "minioadmin"
    - name: AWS_SECRET_ACCESS_KEY
      value: "minioadmin"
    - name: SPARK_CONF_DIR
      value: "/spark/conf"
    volumeMounts:
    - name: spark-config
      mountPath: /spark/conf/spark-defaults.conf
      subPath: spark-defaults.conf
  - name: spark-kubernetes-driver
    env:
    - name: AWS_ACCESS_KEY_ID
      value: "minioadmin"
    - name: AWS_SECRET_ACCESS_KEY
      value: "minioadmin"
    - name: SPARK_CONF_DIR
      value: "/spark/conf"
    volumeMounts:
    - name: spark-config
      mountPath: /spark/conf/spark-defaults.conf
      subPath: spark-defaults.conf
  volumes:
  - name: spark-config
    configMap:
      name: spark-config
