apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - airflow.yaml
  - hive.yaml
  - zeppelin.yaml
  - spark-ui-service.yaml
  - starrocks.yaml
  # Generated Helm Charts
  - charts/gen/spark-operator.yaml
  - charts/gen/superset.yaml

configMapGenerator:
  - name: spark-config
    files:
      - configs/spark-defaults.conf
  - name: hive-config
    files:
      - configs/hive-site.xml
  - name: zeppelin-site
    files:
      - configs/zeppelin-site.xml
  - name: zeppelin-interpreter-spec
    files:
      - configs/interpreter-spec.yaml
  - name: spark-templates
    files:
      - configs/interpreter-template.yaml
      - configs/executor-template.yaml

generatorOptions:
  disableNameSuffixHash: true
