apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - airflow.yaml
  - hive.yaml
  - jupyterhub.yaml
  - spark-ui-service.yaml
  - starrocks.yaml
  # Generated Helm Charts
  - charts/gen/spark-operator.yaml
  - charts/gen/superset.yaml

configMapGenerator:
  - name: spark-config
    files:
      - configs/spark-defaults.conf
  - name: hive-config
    files:
      - configs/hive-site.xml

generatorOptions:
  disableNameSuffixHash: true

