apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - airflow.yaml
  - hive.yaml
  - zeppelin.yaml
  - spark-ui-service.yaml

configMapGenerator:
  - name: spark-config
    files:
      - configs/spark-defaults.conf
  - name: hive-config
    files:
      - configs/hive-site.xml
  - name: zeppelin-site
    files:
      - configs/zeppelin-site.xml
  - name: zeppelin-interpreter-spec
    files:
      - configs/interpreter-spec.yaml
  - name: spark-templates
    files:
      - configs/interpreter-template.yaml
      - configs/executor-template.yaml

generatorOptions:
  disableNameSuffixHash: true

helmCharts:
  - name: spark-operator
    repo: https://kubeflow.github.io/spark-operator
    releaseName: spark-operator
    namespace: default
    version: 1.1.27
    valuesInline:
      webhook:
        enable: true
  - name: superset
    repo: https://apache.github.io/superset
    releaseName: superset
    namespace: default
    version: 0.12.0
    valuesFile: superset-values.yaml
