apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-minio
  labels:
    app: minio
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 9000
      protocol: TCP
      name: minio
    - port: {{ .Values.service.consolePort }}
      targetPort: 9001
      protocol: TCP
      name: console
  selector:
    app: minio
