apiVersion: v1
kind: ConfigMap
metadata:
  name: hive-config
  namespace: default
data:
  hive-site.xml: |
    <configuration>
        <property>
            <name>javax.jdo.option.ConnectionURL</name>
            <!-- Updated host to 'postgres' (K8s Service Name) -->
            <value>jdbc:postgresql://postgres:5432/metastore</value>
        </property>
        <property>
            <name>javax.jdo.option.ConnectionDriverName</name>
            <value>org.postgresql.Driver</value>
        </property>
        <property>
            <name>javax.jdo.option.ConnectionUserName</name>
            <value>hive</value>
        </property>
        <property>
            <name>javax.jdo.option.ConnectionPassword</name>
            <value>hive</value>
        </property>
        <property>
            <name>hive.metastore.warehouse.dir</name>
            <value>s3a://warehouse/</value>
        </property>
        <property>
            <name>fs.s3a.endpoint</name>
            <value>http://minio:9000</value>
        </property>
        <property>
            <name>fs.s3a.access.key</name>
            <value>minioadmin</value>
        </property>
        <property>
            <name>fs.s3a.secret.key</name>
            <value>minioadmin</value>
        </property>
        <property>
            <name>fs.s3a.path.style.access</name>
            <value>true</value>
        </property>
        <property>
            <name>fs.s3a.impl</name>
            <value>org.apache.hadoop.fs.s3a.S3AFileSystem</value>
        </property>
        <property>
            <name>hive.metastore.schema.verification</name>
            <value>false</value>
        </property>
        <property>
            <name>hive.server2.enable.doAs</name>
            <value>false</value>
        </property>
    </configuration>

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hive-metastore
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hive-metastore
  template:
    metadata:
      labels:
        app: hive-metastore
    spec:
      containers:
      - name: hive-metastore
        image: subhodeep2022/spark-bigdata:hive-3.1.3-custom
        imagePullPolicy: Always
        command: ["/bin/bash", "-c"]
        # Schema Init + Start Metastore
        args:
         - |
           /opt/hive/bin/schematool -dbType postgres -validate || /opt/hive/bin/schematool -dbType postgres -initSchema
           /opt/hive/bin/hive --service metastore
        env:
        - name: HADOOP_OPTS
          value: "-Dhive.log.level=INFO"
        ports:
        - containerPort: 9083
        volumeMounts:
        - name: hive-config
          mountPath: /opt/hive/conf/hive-site.xml
          subPath: hive-site.xml
      volumes:
      - name: hive-config
        configMap:
          name: hive-config

---
apiVersion: v1
kind: Service
metadata:
  name: hive-metastore
  namespace: default
spec:
  ports:
  - port: 9083
    targetPort: 9083
  selector:
    app: hive-metastore
