apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-hiveserver-config
  labels:
    app: hive-server
data:
  hive-site.xml: |
    <configuration>
        <property>
            <name>hive.metastore.uris</name>
            <value>thrift://{{ .Values.global.hiveMetastore.host }}:{{ .Values.global.hiveMetastore.port }}</value>
        </property>
        <property>
            <name>hive.server2.thrift.bind.host</name>
            <value>0.0.0.0</value>
        </property>
        <property>
            <name>hive.server2.thrift.port</name>
            <value>10000</value>
        </property>
    </configuration>
