apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:

  - admin-user.yaml
  - kong-manual-config.yaml
  - dashboard-transport.yaml
  - spark-ui-service.yaml
  - spark-service-monitor.yaml
  # Generated Helm Charts
  - charts/gen/kube-prometheus-stack.yaml
  - charts/gen/loki-stack.yaml
  - charts/gen/kubernetes-dashboard.yaml

configMapGenerator:
  - name: spark-grafana-dashboard
    files:
      - dashboards/spark-dashboard.json
    options:
      labels:
        grafana_dashboard: "1"
  - name: loki-logs-dashboard
    files:
      - dashboards/loki-logs-dashboard.json
    options:
      labels:
        grafana_dashboard: "1"
