apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - dashboard-ingress.yaml
  - grafana-ingress.yaml
  - admin-user.yaml
  - kong-manual-config.yaml
  - dashboard-transport.yaml
  - spark-pod-monitor.yaml

configMapGenerator:
  - name: spark-grafana-dashboard
    files:
      - dashboards/spark-dashboard.json
    options:
      labels:
        grafana_dashboard: "1"

helmCharts:
  - name: kube-prometheus-stack
    repo: https://prometheus-community.github.io/helm-charts
    releaseName: kube-prometheus-stack
    namespace: default
    version: 56.6.2
    valuesInline:
      grafana:
        adminPassword: prom-operator
      prometheus:
        prometheusSpec:
          podMonitorSelectorNilUsesHelmValues: false
          serviceMonitorSelectorNilUsesHelmValues: false
          retention: 168h
          storageSpec:
            volumeClaimTemplate:
              spec:
                storageClassName: local-path
                accessModes: ["ReadWriteOnce"]
                resources:
                  requests:
                    storage: 10Gi
  - name: kubernetes-dashboard
    repo: https://kubernetes.github.io/dashboard/
    releaseName: kubernetes-dashboard
    namespace: default
    version: 7.5.0
    valuesInline:
      app:
        ingress:
          enabled: false
      api:
        enabled: true
        ingress:
          enabled: false
      web:
        enabled: true
        ingress:
          enabled: false
      metricsScraper:
        enabled: true
      kong:
        proxy:
          http:
            enabled: true
            nodePort: null
          tls:
            enabled: false
