loki:
  isDefault: false
  config:
    table_manager:
      retention_deletes_enabled: true
      retention_period: 168h
promtail:
  enabled: true
grafana:
  enabled: false
  sidecar:
    datasources:
      enabled: false
